//variable 通用样式变量
$primary: #0BB8F8;
$success: #13ce66;
$warning: #f7ba2a;
$danger: #ff4949;
$info: #50bfff;
$white: #fff;
$black: #000;
$coffe: #333;
$subTitleColor: #00ddfe;
$eleColor: #00bffc;
$chart-header-bg: #343a48;
$chart-bg: rgb(43, 50, 58);
// 头部背景色
$yin: #f3f5f9;
//主下划线颜色
$line-color: #d1d1d1;
$line-hight-color: rgb(209, 222, 229);
// 菜单栏字体主颜色
$menuColor:#9a9a9a;
// 主字体大小
$menuFontSize: 12px;
$titleFontSize: 14px;
$formFontSize: 13px;
$bigFontSize: 16px;
// sidebar bg
$siderbar-bg: #2c303c;
// sidebar color
$siderbar-color: #ccc;
// 左侧栏宽度
$siderbar-width: 180px;
//容器间的间距
$moduleMargin:10px;
// 容器最小宽度
$container-min-width: 1078px;
// input统一高度 宽度
$inputH: 30px;
$inputW: 150px;

$inputW_l: 190px;
$inputW_s_s: 50px;
$inputW_s: 100px;
// 主体部分title背景色
$title-bg: #252c33;
// 底部背景色
$bottom-bg: #f5f6fa;
$input-def-color: #999999;
$modal-bg: #f1f2f3;
